.admin__news{
    .content__tab{
        .post-list{
            .adminservicedata{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                .adminservices{
                    border: 1px solid;
                    margin-left: 20px;
                    border-radius: 12px;
                    padding: 15px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                   margin-top: 20px;
                    .serviceadminimg{
                        width: 150px !important;
                    }
                    .adminservicename{
                        font-weight: 700;
                    }
                    .adminservicedescription{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}