.admin__news {
    .content__tab {

        .right__content {
            display: flex;
            flex-direction: column;
            background: #fafafa;
            border-radius: 20px;
            padding: 20px;
            width: 75%;
            font-family: Arial, sans-serif;
            overflow-x: hidden;
            overflow-y: scroll;
            height: auto;
            gap: 10px;

            .allinpts {
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 30%;

                .inputdirection {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    align-items: baseline;

                    label {
                        margin-bottom: 5px;
                        font-weight: bold;
                        color: #333;
                    }

                    .input {
                        width: 82%;
                        padding: 9px;
                        border: 1px solid #ced4da;
                        border-radius: 4px;
                        font-size: 16px;
                    }
                }

                .creatbtn {
                    border: 1px solid blue;
                    background-color: cadetblue;
                    width: 170px;
                    border-radius: 12px;
                    padding: 7px;
                    color: white;
                    text-align: center;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }

            .admintraningsdata {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .traningsadmindata {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    flex-wrap: wrap;
                    align-items: center;

                    .editsbtn {
                        border: none;
                        font-size: 20px;
                        cursor: pointer;
                    }

                    .trashbtn {
                        border: none;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}