.admin__news{
    .content__tab{
        .post-list{
            .updatecertifacts{
                margin-top: 20px !important;
            }
            form{
display: flex;
margin-left: 40px;
gap: 10px;
flex-direction: row;
                .inputnumber{
                    border: 1px solid blue;
                    border-radius: 12px;
                    height: 30px;
                    width: 200px;
                }
                .notebtn{
                    border: 1px solid blue;
                    background-color: cadetblue;
                    width: 170px;
                    border-radius: 12px;
                    padding: 7px;
                    color: white;
                    text-align: center;
                    font-weight: 600;
                }
            }
            .datacertficate{
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
flex-wrap: wrap;
padding: 20px;
.closexbtn{
   background-color: #009ee2;
   border: 1px solid #009ee2;
   padding: 5px;
   cursor: pointer;
   color: white;
}
                .numberstext{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    border: 1px solid #009ee2;
                border-radius: 12px;
                padding: 10px;
                }
            }
        }
    }
}