.admin__formservice{
    background-color: #f0f0f0;
    margin-top: 12px;
    .left__bar{
        background: #fafafa;
        border-radius: 20px;
        display: flex;
        width: 20%;
    }
    .formcards{
        display: flex;
        flex-direction: row;
        gap: 30px;
      
    }
    .inputs_cards{
        display: flex;
    align-items: self-start;
    flex-direction: column;
    background: #fafafa;
    border-radius: 20px;
    padding: 20px;
    width: 75%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
    gap: 10px;
    .form__container{
        .form{
            display: flex;
            flex-wrap: wrap; 
            gap: 30px;
            .inputsform{
                width: 150px;
                padding: 5px;
            }
            button{
                border: 1px solid blue;
                background-color: blue;
                width: 150px;
                text-align: center;
                color: white;
            }
        }
    }
    }
}