#cerfitacion{
    background-color:#F1F1F1;
    padding: 30px;
    margin-top: 20px;
    .cerfitacion__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .certifacion__top{
            text-align: center;
            color: #009EE2;
            font-size: 25px;
        }
        .certifacion__buttom{
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            .certifacnumber{
                border: 1px solid #009EE2;
                width: 200px;
                padding: 7px;
                border-radius: 15px;
            }
            .certifactcheck{
               border: 1px solid #009EE2 ;
               background-color: #009EE2;
               color: #F1F1F1;
               text-align: center;
               border-radius: 35px;
               padding: 7px;
               width: 100px;
            }
        }
    }
}