.container {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(35, 35, 35, 0.2);
    width: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

    .hamburger__open {
      display: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      .open__icon {
        width: 40px;
        height: 40px;
        color: #fafafa;
      }
    }

    .header__left {
      display: flex;
      align-items: center;
      width: 35%;
      img {
        width: 85px;
        margin-right: 20px;
      }
      .search__input {
        padding: 12px 24px;
        border-radius: 40px;
        width: 100%;
        border: 1px solid rgba(250, 250, 250, 1);
        background: transparent;
        color: #fff;
      }
    }
    .header__right {
      display: flex;
      align-items: center;
      width: 60%;
      height: 100%;
      .header__menu {
        margin: 0;
        padding: 0;
        display: flex;
    gap: 40px;
        justify-content: space-between;
        li{
          list-style-type: none; // Kara noktaları kaldır
        }
        .link {
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          color: #fafafa;
          transition: 0.6s;
          position: relative;
          display: flex;
          align-items: center;
          height: 70px;
           &::marker {
                display: none; // Liste işaretlerini gizler
              }
          .sub__menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 400px;
            top: 70px;
            background-color: rgba(35, 35, 35, 0.2);
            display: none;
            .sub__link {
              padding: 10px;
              font-size: 20px;
              font-weight: 500;
              text-decoration: none;
              color: #fafafa;
              transition: 0.6s;
            
              &:hover {
                background-color: #fafafa;
                color: #009ee2;
              }
              &::marker {
                display: none; // Liste işaretlerini gizler
              }
            }
            
            
          }
          &:hover {
            color: #009ee2;
          }
        }
        .service {
          &:hover .sub__menu {
            display: flex;
          }
        }
      }
      select {
        padding: 4px;
        font-size: 20px;
        background: transparent;
        border: 0;
        color: #fafafa;
        transition: 0.6s;
        cursor: pointer;
        margin-left: 14px;
        &:hover {
          color: #009ee2;
        }
      }

      .login__btn {

        margin-left: 15px;

        button {
          border: 1px solid #009ee2;
          background-color: #009ee2;
          color: #fff;
          text-align: center;
          border-radius: 15px;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 16px;

          &:focus {
            background-color: #027eb4;
            border-color: #027eb4;
          }
        }
      }
    }
  }

  .fixed {
    position: fixed;
    animation: fade-in-down 0.3s ease;
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .deleteClass {
    display: none;
    animation: slide-in-bottom 0.3s ease;
  }

  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  .hamburger__container {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: rgba(35, 35, 35, 0.4);
    top: 0;
    position: fixed;
    z-index: 3;
    height: 100%;
    animation: slide-in-top 0.3s ease;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    .hamburger__head {
      display: flex;
      width: 90%;
      justify-content: space-around;
      align-items: center;

      .hamburger__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;

        .hamburger__search {
          display: none;
          padding: 12px 24px;
          border-radius: 40px;
          border: 1px solid rgba(250, 250, 250, 1);
          width: 100%;
          background: transparent;
          color: #fafafa;
          animation: bounce-in 0.6s ease;
        }

        @keyframes bounce-in {
          0% {
            opacity: 0;
            transform: scale(0.3);
          }
          50% {
            opacity: 1;
            transform: scale(1.05);
          }
          70% {
            transform: scale(0.9);
          }
          100% {
            transform: scale(1);
          }
        }

        button {
          background: transparent;
          border: 0;

          .close__icon {
            color: #fafafa;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }

          .close__search {
            display: none;
            color: #fafafa;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }

          .search__icon {
            color: #fafafa;
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
        }
      }
    }

    .hamburger__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      font-size: 28px;

      .language {
        padding: 4px;
        font-size: 28px;
        background: transparent;
        border: 0;
        color: #fafafa;
        transition: 0.6s;
        cursor: pointer;
        &:hover {
          color: #009ee2;
        }
      }

      li {
        list-style: none;
        padding: 15px 0;

        .hamburger__link {
          text-decoration: none;
          color: #fafafa;
        }
      }
    }
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .header {
      .header__right {
        display: none;
      }

      .header__left {
        .search__input {
          display: none;
        }
      }

      .hamburger__open {
        display: block;
      }
    }
  }
}
