#homeservice{
    margin-top: 20px;
    .homeservice__container{
        display: flex;
        flex-direction: row;
        gap: 10%;
        margin-left: 1%;
        .homeservice__left{
            .homeservice__top{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .homeservicename{
                    width: 44%;
                    font-weight: bold;
                    font-size: 37px;
                    color: #009EE2;
                }
                .homeservicetext{
                    width: 58%;
                }
                .homeservice__input{
                    flex-direction: column;
                    display: flex;
                    gap: 5px;
                    .homeservicinputs{
                        width: 250px;
                        padding: 7px;
                        border-radius: 9px;
                        border:1px solid #009EE2;
                        background-color: white;
                        color: grey;
                    }
                    .homeservicinputsmesage{
                        border-radius: 9px;
                        border:1px solid #009EE2;
                        background-color: white;
                        color: grey;
                        width: 253px;
                        height: 100px;
                        padding: 7px;
                    }
                }
                .homeservice__button{
                    .servicelinkhref{
                        text-decoration: none;
                        .sendhomeservicebtn{
                            border-radius: 15px;
                            border:1px solid #009EE2;
                            background-color: #009EE2;
                            color: aliceblue;
                            text-align: center;
                            width: 255px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
        .homeservice__right{
            .homeservicephoto{
                width: 386px;
                height: 371px;
                margin-top: 75px;
            }
        }
    }
}