.App{
    .scroll-to-top{
     color: #009EE2;
     border-radius: 31px;
     border: 1px solid white;
     padding: 14px;
     position: absolute;
     right: 20px;
     margin-top: 10px;
     cursor: pointer;
    }
}