@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#footer {
  background-image: url("../images/footerphoto.png");
  width: 100%;
  height: 300px;
  background-size: cover;
}
#footer .footer__container {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-between;
}
#footer .footer__container .footer__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .footer__container .footer__left .footers__lefttext {
  font-size: 25px;
  color: #FAFAFA;
}
#footer .footer__container .footer__left .footer__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#footer .footer__container .footer__center .footer__link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer .footer__container .footer__center .footer__link .linkcolor {
  text-decoration: none;
  color: #FAFAFA;
}
#footer .footer__container .footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .footer__container .footer__right .contacttext {
  color: #FAFAFA;
}
#footer .footer__container .footer__right .footer__contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer .footer__container .footer__right .footer__contact .footer__contacticon {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#footer .footer__container .footer__right .footer__contact .footer__contacticon .footer__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #FAFAFA;
}
#footer .footer__container .footer__right .footer__contact .footer__contacticon .footer__phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #FAFAFA;
  margin-left: 9px;
}
#footer .footer__container .footer__right .footer__companyname {
  color: #FAFAFA;
}
#footer .footer__container .scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;
  display: flex; /* Görünürlüğü sağlamak için */
  justify-content: center;
  align-items: center;
}
#footer .footer__container .scroll-to-top:hover {
  background-color: #0056b3;
}

.App .scroll-to-top {
  color: #009EE2;
  border-radius: 31px;
  border: 1px solid white;
  padding: 14px;
  position: absolute;
  right: 20px;
  margin-top: 10px;
  cursor: pointer;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 35, 35, 0.2);
  width: 100%;
  height: 70px;
}
#header .header__left {
  display: flex;
  align-items: center;
  width: 35%;
}
#header .header__left img {
  width: 96px;
  margin-right: 50px;
}
#header .header__left .search__input {
  padding: 12px 24px;
  border-radius: 40px;
  width: 100%;
  border: 1px solid rgb(250, 250, 250);
  background: transparent;
}
#header .header__right {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
}
#header .header__right ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#header .header__right ul .link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fafafa;
  transition: 0.6s;
  position: relative;
}
#header .header__right ul .link .sub__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 400px;
  top: 46px;
  background-color: rgba(35, 35, 35, 0.2);
  display: none;
}
#header .header__right ul .link .sub__menu .sub__link {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fafafa;
  transition: 0.6s;
}
#header .header__right ul .link .sub__menu .sub__link:hover {
  background-color: #fafafa;
  color: #009ee2;
}
#header .header__right ul .link:hover {
  color: #009ee2;
}
#header .header__right ul .service:hover .sub__menu {
  display: flex;
}
#header .header__right select {
  padding: 4px;
  font-size: 20px;
  background: transparent;
  border: 0;
  color: #fafafa;
  transition: 0.6s;
  cursor: pointer;
}
#header .header__right select:hover {
  color: #009ee2;
}

#cerfitacion {
  background-color: #F1F1F1;
  padding: 30px;
}
#cerfitacion .cerfitacion__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#cerfitacion .cerfitacion__container .certifacion__top {
  text-align: center;
  color: #009EE2;
  font-size: 25px;
}
#cerfitacion .cerfitacion__container .certifacion__buttom {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
#cerfitacion .cerfitacion__container .certifacion__buttom .certifacnumber {
  border: 1px solid #009EE2;
  width: 200px;
  padding: 7px;
  border-radius: 15px;
}
#cerfitacion .cerfitacion__container .certifacion__buttom .certifactcheck {
  border: 1px solid #009EE2;
  background-color: #009EE2;
  color: #F1F1F1;
  text-align: center;
  border-radius: 35px;
  padding: 7px;
  width: 100px;
}